/*---------------
Websites Parameters
-----------------*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
}

/*---------------
     Header
-----------------*/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkblue;
    padding: 30px;
}

.nav-links li{
    list-style:none;
    display: inline-block;
    margin-left: 20px;
}
.nav-links li a {
    margin: 10px 15px;
}
.nav-links li a:hover {
        color:red;
}
button{
    background-color: rgb(241, 59, 90);
    margin-right: 40px;
    padding: 6px 20px;

}
a, li, button{
    text-decoration: none;
    color:white;
}
/*---------------
  Introduction
-----------------*/
.intro{
    background-color: darkblue;
    display:flex;
    cursor:pointer;
}
.intro-1 {
    padding: 100px 60px;
}
.intro-1 h1{
    font-size: 2.5rem;
    color: white;
    font-weight:bolder;
    transition: font-size 2s ease 0.2s;
}
.intro-1 h1:hover{
    color: red;
}

.intro:hover .intro-1 h1{
    font-size: 3rem;
}
.banner{
    width: 556px;
    height: 438px;
    margin-left: 400px;
    margin-top: 30px;
    transition: width 2s transform 0.3s;  

}
.intro:hover .banner{
    transform:rotate(30deg);
}

/*---------------
 Players Part Styles
-----------------*/
.container{
    background-color:white;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 50px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);

}
.player{
align-items: center;
padding: 10px;
width: 300px;
height: 350px;
background: #FFFFFF;
box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
margin-bottom: 20px;
}
.player img{
    width: 300px;
    height: 256px;
}

/*---------------
 Highlights Part Style
-----------------*/

.highlights{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 90px;
    padding: 90px;

}
.highlights img{
    width: 580px;
    height: 427px;
}
.copa-america{
    width: 466px;
    height: 309px;
    bottom: 100px;
    align-items: center;
    margin-left: 100px;
}

/*---------------
 Sponsers Part Style
-----------------*/
.sponsers{
    display:flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
}
.mastercard img{
    width:400px;
    height: 300px;
}
.betssongroup img{
    width: 300px;
    height: 300px;
}
.sponsers h1{
    font-size:2.5rem;
    font-weight:bolder;
    transition: font-size 2s ease-out .2s;
}
.sponsers h1:hover{
    font-size:3rem;
    color: red;
}
/*---------------
 footer Part Style
-----------------*/
footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin-top: 25px;
}
.logo img{
    width: 227.82px;
    height: 67.42px;
}
.social-media-icon{
display:flex;
justify-content: center;
align-items:center;
}
.social-media{
    height: 25px;
    width: 25px;
    background-color: rgb(221, 214, 214);
    text-align:center;
    padding: 10px;
    margin:15px;
    border-radius:100px;
    
}

/*--------------------
   Media-Queries
----------------------*/

/*Mobile devices*/
@media screen and (max-width: 688px) {

    .nav-links li, .intro, .banner, .players, .highlights, .sponsers  {
        display:block;
        flex-direction:column;
        margin:0;
        width: 100%;
        transition:none;
        transform:none;
    }
    .nav-links li, .intro, .players, .highlights, .sponsers  {
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    
}